DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=cybershield
DB_USER=cybershield
DB_PASSWORD=cybershield
DB_HOST=db
DB_PORT=5432
DEMO_USERNAME=demo
DEMO_PASSWORD=CyberShield123!
DEMO_EMAIL=demo@cybershield.local
DEMO_GROUP=analyst
DEMO_FIRST_NAME=Demo
DEMO_LAST_NAME=Analyst
DEMO_IS_STAFF=1
DEMO_IS_SUPERUSER=0
