.env
.DS_Store

# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/

# Django
staticfiles/

# Node
node_modules/
dist/

# Docker
postgres_data/
certbot/

# opencode
openspec/
.agents/
.atl/
skills-lock.json